
.img1{
    height: 700px;
}
.container h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 15px;
}

.container h2{
    padding-top: 5px;
    font-family:'Times New Roman', Times, serif;

}
